@font-face {
  font-family: 'Avenir';
  src: url('font/AvenirLTStd-Light.eot');
  src: url('font/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirLTStd-Light.woff2') format('woff2'),
    url('font/AvenirLTStd-Light.woff') format('woff'),
    url('font/AvenirLTStd-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('font/AvenirLTStd-Black.eot');
  src: url('font/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirLTStd-Black.woff2') format('woff2'),
    url('font/AvenirLTStd-Black.woff') format('woff'),
    url('font/AvenirLTStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('font/AvenirLTStd-Medium.eot');
  src: url('font/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirLTStd-Medium.woff2') format('woff2'),
    url('font/AvenirLTStd-Medium.woff') format('woff'),
    url('font/AvenirLTStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #f4f5f7 !important;
  font-family: 'Avenir', Arial, Helvetica, sans-serif
}

.login-top {
  padding-bottom: 30px;
}

.login-top h1 {
  font-size: 70px;
  margin: 40px 0
}

.login-top img {
  max-width: 100%;
  /* width: 100%; */
}

.legend {
  color: #383b41;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #383b41;
  margin-bottom: 10px;
}

.rs-control-label {
  color: #383b41;
}

.login-middle p {
  color: #8e8e93;
  margin: 15px 0 20px;
  ;
}

.body-text {
  color: #8e8e93;

  font-size: 16px;
  line-height: 20px;
}

.body-text p {
  margin: 15px 0 20px;
}

.rs-btn-default {
  color: #383b41 !important;
  font-weight: bold;
}

#root>.rs-container {
  flex: 1;
  height: 100vh;
}

.footer-link {
  color: #383b41 !important;
}

.footer {
  padding: 25px 15px;
  background-color: #fff;
  bottom: 0;
  width: 100%;
}

.social-links a i {
  font-size: 20px;
}

.social-links a {
  margin: 5px;
  display: inline-block;

  color: #383b41 !important;
}

.rs-navbar.rs-navbar-inverse {
  background-color: #383b41;
}

.rs-navbar.rs-navbar-inverse .rs-nav-item-content:hover,
.rs-navbar.rs-navbar-inverse .rs-navbar-nav .rs-nav-item>.rs-nav-item-content:hover,
.rs-navbar.rs-navbar-inverse .rs-navbar-nav .rs-dropdown .rs-dropdown-toggle:hover,
.rs-navbar.rs-navbar-inverse .rs-navbar-nav .rs-nav-item>.rs-nav-item-content:focus,
.rs-navbar.rs-navbar-inverse .rs-navbar-nav .rs-dropdown .rs-dropdown-toggle:focus {
  background-color: rgba(255, 2550, 255, .2) !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.rs-dropdown .rs-dropdown-menu {
  background-color: #c1c7d0 !important
}

.rs-navbar.rs-navbar-inverse,
.rs-navbar.rs-navbar-inverse .rs-navbar-header a.logo {
  display: block;
  padding: 5px;
}


.rs-navbar.rs-navbar-inverse .rs-navbar-header a.logo img {
  max-height: 45px;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1
}

body,
#root {
  height: 100vh;
  margin: 0;
}


.rs-btn-default {
  background: #e5e5ea;
}

.rs-btn-default:hover {
  background-color: #C7C7D1;
}

.rs-timeline-item-dot::before,
.rs-timeline-item-last .rs-timeline-item-dot::before {
  background-color: #ffca28;
}

/* Levels */

.level {
  display: block;
}

.level img {
  width: 100%;
  filter: grayscale(90%);
  transition: all 1s;

}

.level:hover img {
  filter: grayscale(0%);
}

.level {
  border-radius: 40px;
  overflow: hidden;
  width: 100%;
  max-width: 450px;
  margin: 20px;
  position: relative;
}

.level .progress {
  width: 70%;
  margin: auto
}

.level .info h3 {
  font-size: 42px;
}

.level .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 4;
  text-align: center;
  color: #fff;
  background-color: rgba(151, 151, 151, 0.7);
}

.game-board {
  position: relative;
  margin: auto;
  max-width: 1400px;
  width: 100%;
}

.game-board img {
  width: 100%;
}

.image-svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.level-info {
  color: #fff;
  border-left: 4px solid #FEC00F;
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.level-info p {
  margin: 5px 0;
}

.rs-radio-checked .rs-radio-wrapper .rs-radio-inner::before {
  border-color: #FEC00F;
  background-color: #FEC00F;
}